---
import potriat from '/potriat.jpg'
import potriat_1 from '/potriat-1.jpg'
import potriat_2 from '/potriat-2.jpg'
import potriat_3 from '/potriat-3.jpg'
---

<div class="mx-12">
    <h1 class="my-24 text-center text-xl">
        Latest Art Pieces
    </h1>

    <div class="grid grid-cols-1 xl:mx-48 xl:grid-cols-2 gap-24">
        <div class="relative group">
            <img src={potriat} class="  z-10 transition-all group-hover:-translate-x-4"   alt="art">
        </div>
        <div class="relative group">
            <img src={potriat_1} class="  z-10 transition-all group-hover:-translate-x-4"   alt="art">
        </div>
        <div class="relative group">
            <img src={potriat_2} class="  z-10 transition-all group-hover:-translate-x-4"   alt="art">
        </div>
        <div class="relative group">
            <img src={potriat_3} class="  z-10 transition-all group-hover:-translate-x-4"   alt="art">
        </div>
        
    </div>
</div> 